
/* 
    Derived from the Core CSS Oldstyle from W3C: 
    http://www.w3.org/StyleSheets/Core/Oldstyle/

    This only provides a few of the features from Oldstyle.
    Much of the styling is still left to the browser.
*/

/*
 * {
	font-family: "Comic Sans MS", sans-serif;
}
*/

* {
	font-family: sans-serif;
}

code, pre {
	font-family: monospace;
	}

body    {
            font-size: 1.1em;
            /*font-family: Dauphin, "Comic Sans MS", sans-serif;*/
            /*font-family: "Comic Sans MS", sans-serif;*/
            /*font-family: sans-serif;*/
            background:	#fffff5;
 	        margin-top:	1.58em;
	        margin-left:	11%;
	        margin-right:	8%;
	        margin-bottom:	1.58em;
	     }


h1, h2, h3, h4, h5, h6 {
        color: #c00;
    }
        
		
a:link	{	
	text-decoration:	none;
	font-weight:	bold; 
	color:	#33F;
	background:	#fffff5;
	}	
		
a:visited	{	
	text-decoration:	none;
	font-weight:	bold;
	color:	#93C;
	background:	#fffff5;
	}	
		
a:active	{	
	text-decoration:	none;
	font-weight:	bold;
	color:	black;
	background:	#ccf;
	}	
		
a:hover	{	
	text-decoration:	none;
	color:	#fffff5;
	background:	#33F;
	}	
		
a.offsite	{	
	text-decoration:	none;
	font-weight:	normal;
	color:	#33F;
	background:	#fffff5;
	}	

p.dc:first-letter{ color: #C00;
						float: left;
						font-size:xx-large;
						/*font-family:fantasy;*/
					}
       
dt {
    font-weight: bold;
    color: #007;
    }   

span.shout {
    font-size: large;
    font-variant: small-caps;
}

span.SHOUT {
	font-size: xx-large;
}
        
table.important {
 	border-style: solid;
	border-width: 1px;
	font-size:x-large;
} 

table.important th{
	border-bottom-style: double;
}

/* outline line style lists */
ol.outline li {
	list-style-type: upper-roman;
}

ol.outline li li {
	list-style-type: upper-alpha;
}

ol.outline li li li {
	list-style-type: decimal;
}


ol.outline li li li li {
	list-style-type: lower-alpha;
}


table.grid, table.grid th, table.grid td {
	border-style: solid;
	border-collapse: collapse;
	border-width: 1px;
	padding: 5px;
	text-align: right;
}

/*table.grid td.negative {*/
.negative {
	background: #fbb;
}

code, pre {
	font-size: large;
}

.hide { 
	color: #fffff5; 
} 

.hide:hover { 
	color: #00f; 
}

/**
	index page formatting
*/


div#header {
	/*font-family: sans-serif;*/
  /*margin: 20px;*/
  margin-left: -11%;
  padding: 10px;
  height: 150px;
  text-align: left;
  font-size: 2.5em;
  font-weight: bold;
  color: #c00;
  /*background-color: #EEE9E9; /* Snow 2 */
  
}
#left {
  position: absolute;
  left: 15px;
  top: 190px;
  width: 200px;
  /*background-color: #EEEEE0; /* Ivory 2 */
 /* border-right-style: dotted;*/
  
}
div#left ul {
	/*margin-left: -10px;*/
  list-style-type: none;
}

div#center {
	/*position: absolute;*/
  top: 190px;
  margin-left: 230px;
  margin-right: 15px;
  /* background-color: #FFFAFA; /* Snow 1 */
  
}


.headerimage {
	float:left;
}

ol.problem-part {
    list-style-type: lower-alpha;
}

            